$primary-color: #007bff;
$primary-hover-color: #0056b3;
$danger-color: #dc3545;
$danger-hover-color: #a71d2a;
$label-color: #555;
$border-color: #ddd;
$background-placeholder: #f4f4f4;
$placeholder-text-color: #ccc;
$table-row-alt-bg-color: #f9f9f9;
$button-color: #f4f4f4;